body {
  background-color: #eaf6f6;
  font-family: "cabin", sans-serif;
}
.info-display {
  background: #fcfefe;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0px 30px 50px rgba(102, 191, 191, 0.2);
}
header {
  font-size: 32px;
  text-align: center;
  color: #f76b8a;
  font-weight: 800;
  padding-bottom: 10px;
}

.search-input {
  border: none;
  font-size: 16px;
  width: 75%;
  background-color: #eaf6f6;
  padding: 10px 20px;
  border-radius: 8px;
}
.search-button {
  background-color: #66bfbf;
  border: none;
  color: #fcfefe;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 8px;
  margin-left: 6px;
}
.search-form {
  border-bottom: 1px solid #66bfbf;
  padding: 20px 10px 20px 5px;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
h1 {
  font-size: 38px;
}
.weather-app-details {
  font-size: 18px;
  color: rgba(39, 33, 66, 0.5);
}

#humidity-unit,
#wind-speed {
  font-weight: bold;
  color: #f76b8a;
}
#current-temp-container {
  display: flex;
  justify-content: space-between;
}
.current-weather-icon {
  width: 88px;
  position: relative;
  top: 15px;
}
#current-tepm-display {
  font-size: 88px;
  font-weight: bold;
}
#temp-unit {
  font-size: 28px;
  position: relative;
  top: 20px;
}
.forecast-container {
  display: flex;
  justify-content: space-evenly;
  margin: 15px 0;
}
.weather-forecast-date {
  text-align: center;
  font-size: 17px;
  padding-bottom: 25px;
  color: #66bfbf;
  font-weight: 600;
}
.weather-forecast-icon {
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  padding-bottom: 15px;
}
.weather-forecast-temperatures {
  display: flex;
  justify-content: space-between;
  color: #f76b8a;
  font-size: 17px;
}
.weather-forecast-temperature-min {
  color: #e1899c;
}

footer {
  border-top: 1px solid #66bfbf;
  padding: 20px 30px;
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}

a {
  color: #66bfbf;
}
